<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Bloggy</title>
  </head>
  <body>

<div class="container">
  <app-toolbar (newBlog)="toggleNewEntry()" ></app-toolbar>
  <router-outlet></router-outlet>
  <hr/>

  <app-reader *ngIf="!showNewEntry && !!selectedEntry" [entry] = "selectedEntry"></app-reader>
  <app-writer *ngIf="showNewEntry" (done)="newEntry( $event )"></app-writer>
</div>

</body>
</html>
