<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Bloggy</title>
  </head>
  <body>

<div class="container">
  <app-toolbar (changeUser)="changeUser($event)" (newBlog)="showNewEntry()" ></app-toolbar>
  <app-entries [entries]="entries"></app-entries>

  <hr/>

  <app-reader *ngIf="!newEntry && !!selectedEntry" [entry] = "selectedEntry"></app-reader>
  <app-writer *ngIf="newEntry" ></app-writer>
</div>

</body>
</html>
